body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



form {
    background-color: #ffffff;

}

label, input, select {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #009688; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00796b; 
}